<div data-role="view" id="chat" data-layout="default" class="chat-view" data-model="app.Messages">
    <div data-role="header">
        <div data-role="navbar">
            Chat
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </div>
    <div class="comments-wrp">
        <ul id="msg-listview" data-role="listview" data-style="inset" data-bind="source:messages" data-template="msgTemplate"></ul>
    </div>
</div>


<script type="text/x-kendo-template" id="msgTemplate">
    <div class="comment-content #if(IsInitiator()){# comment-initiator #}#">
        <a class="user-share-txt">${Content}</a>
        <h2 class="person-name">${Sender()}</h2>
        <span class="time-span">${CreatedAtFormatted()}</span>
    </div>
</script>