<div data-role="view" id="rollette" data-layout="default" class="rollete-view" data-model="app.Rollette" data-init="app.Rollette.init" data-show="app.Rollette.show" data-hide="app.Rollette.hide">
    
    <div data-role="header">
        <div data-role="navbar">
            Rollette
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </div>

    <form id="rollette">
        <div id="rotatingCicle">            
        </div>
        <span id="user1Rollette">
            <img src="" />            
        </span>
        <span id="user2Rollette">
            <img src="" />            
        </span>
        <div id="approveRollette">
            <img src="" />
        </div>
    </form>
    
    <div id="signupBtnWrp" class="signup-btn-wrp disabled">
        <a class="btn btn-signup" data-role="button" data-bind="click: signup">Register</a>
    </div>
</div>
