<div data-role="view" id="rollette" data-layout="default" class="rollete-view" data-model="app.Rollette" data-init="app.Rollette.init" data-show="app.Rollette.show">
    <div data-role="header">
        <div data-role="navbar">
            Rollette
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </div>
    <form id="rolletteForm">

        <div id="counter_2"></div>
        <div id="foundProfile" style="width:230px; margin: 0 auto; margin-top:15px;">
            <img id="SeleProfile" style="height:300px" />
        </div>
        <div id="approveRollette">
            <img src="styles/images/approved.png" width="130" />
        </div>
    </form>
</div>
