<div data-role="view" id="rollette" data-layout="default" class="rollete-view" data-model="app.Rollette" data-show="app.Rollette.show">
    
    <div data-role="header">
        <div data-role="navbar">
            Rollette
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </div>

    <form id="rollette">
        <div id="rotatingCicle">
        </div>
        <span id="InitiatorProfile">
            <img src="" />            
        </span>
        <span id="SeleteeProfile">
            <img src="" />            
        </span>
        <div id="approveRollette">
            <img src="" />
        </div>
    </form>    
</div>
