<div data-role="view" id="scrollview-home" data-title="Welcome to ChatSnap!">
    <div id="scrollview-container">
        <div data-role="scrollview">
            <div class="photo photo1" data-role="page">
                We know that you like your privacy. So we do not want you to register an account, give us your phone number or email address.
                We do not want to ask you for your name if you don't want to share it! All we want is a picture of you.
            </div>
            <div class="photo photo2" data-role="page">
                Why a picture? Be sure that we won't do anything malicious with it. We just want to help you get new frieds,
                without having to share any info with us. The picture is only used as your presentation to the other users.
            </div>
            <div class="photo photo3" data-role="page">
                So what does this app do? We offer you to get to know new people, if they also want to, of course. You are not obligated to
                talk to anyone, but since you downloaded the app, why not give it a try? Who knows what could happen or who you might meet here : )
            </div>
            <div class="photo photo4" data-role="page">
                Just tap the camera icon to take a picture of you (and write your name or nickname if you want) and press the
                "Enroll" button. And don't forget to have fun!
            </div>
        </div>
    </div>
</div>